body {
    background-color: #f3c7d2;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cpolygon fill='%23516e35' points='957 450 539 900 1396 900'/%3E%3Cpolygon fill='%239cb541' points='957 450 872.9 900 1396 900'/%3E%3Cpolygon fill='%236e7646' points='-60 900 398 662 816 900'/%3E%3Cpolygon fill='%23a39a37' points='337 900 398 662 816 900'/%3E%3Cpolygon fill='%238a7e57' points='1203 546 1552 900 876 900'/%3E%3Cpolygon fill='%23a97f2e' points='1203 546 1552 900 1162 900'/%3E%3Cpolygon fill='%23a78667' points='641 695 886 900 367 900'/%3E%3Cpolygon fill='%23b06524' points='587 900 641 695 886 900'/%3E%3Cpolygon fill='%23c38e78' points='1710 900 1401 632 1096 900'/%3E%3Cpolygon fill='%23b64a1b' points='1710 900 1401 632 1365 900'/%3E%3Cpolygon fill='%23e09689' points='1210 900 971 687 725 900'/%3E%3Cpolygon fill='%23bd2f11' points='943 900 1210 900 971 687'/%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
    -webkit-background-attachment: fixed;
    -webkit-background-size: cover;
    font-family: 'Courier New', Courier, monospace;
    font-kerning: normal;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.4;
}

a {
  text-decoration: none;
}

a.logo {
  color: #000;
}

.container {
  margin: 0 auto;
  padding: 0 15px 0 0;
  width: auto;
  max-width: 600px;
}

/********************
Home Page Styles
********************/

.title {
  width: auto;
  padding: 0;
  font-size: 1.75em;
  text-align: left;
  word-wrap: break-word;
}  

.subtitle {
  width: auto;
  padding: 0 0 0 10px;
  margin: 0;
  font-size: 1.25em;
  word-wrap: break-word;
  text-align: left;
}

.btn {
  margin: 30px;
  padding: 7px 30px;
  background-color: rgb(202, 52, 52);
  color:black;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
}

/********************
Form Page Styles
********************/

.header {
  padding: 0 0.625rem;
}

.description {
  font-style: italic;
  font-weight: 200;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
}

label {
  align-items: center;
  font-size: 1.125rem;
  margin-bottom: 0.5rem;
}

input{
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

form {
  background: var(--color-darkblue-alpha);
  padding: 2.5rem 0.625rem;
  border-radius: 0.25rem;
}

.submit-button  {
  color: #fff;
  width: 50%;
  padding: 15px 30px;
  margin: 15px auto;
  background-color:rgb(202, 52, 52);
  border-radius: 2px;
  border: none;
  cursor: pointer;
}

#email,
#age,
#etc {
  padding: 7px;
  width: 100%;
}